*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
}